DATABASE_URL=postgresql://user:password@host:port/defaultdb?sslmode=require
SECRET_KEY=your-secret-key-min-32-chars
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
FRONTEND_URL=https://fluentfusionv1.vercel.app/

RESEND_API_KEY=your-resend-api-key

GEMINI_API_KEY=AIzaSyAw7pSu2bEFRVN9H54Ra2UdffmHlkKiYQI

EMAIL_ENABLED=True
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-gmail@gmail.com
SMTP_PASSWORD=your-app-password
FROM_EMAIL=your-gmail@gmail.com
FROM_NAME=FluentFusion AI
